@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  color: grey;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: darkslategray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.left-links,
.right-links {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: #eeeeee;
}

.content {
  /* As a flex item withn body, this is saying this .content will take up every space that is leftover after minusing .header and .footer */
  flex: 1;

  /* Its own flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
